.img-container img{
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    transition: 0.5s;
    transform: translateX(0px);
}

.card-container:hover .img-container img{
    /* margin-top: -20px; */
    transform: translateY(-20px);
}